:host {
  .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
  }

  form {
    align-content: center;
  }

  .box1 {
    position: absolute;
    top: 60px;
    left: 10px;
    border: 2px solid #7e0e60;
    border-radius: 0 px;
    padding: 15px;
    width: 300px;

    mat-form-field {
      width: 100%;
      margin: 0;
    }

    button {
      margin-left: 50%;
      width: 50%;
    }
  }

  .box2 {
    position: absolute;
    top: 60px;
    left: 600px;
    border: 2px solid #7e0e60;
    border-radius: 0px;
    padding: 20px;

  }

  .number {

    width: 10%;
    margin: 12px;

  }



  .select {
    float: right;
    margin-left: 60%;

  }

  .select2 {
    float: right;
    margin-left: 60%;

  }

  .box3 {
    position: absolute;
    top: 700px;
    left: 10px;
    border: 2px solid #7e0e60;
    border-radius: 0 px;
    padding: 15px;
    width: 300px;

    mat-form-field {
      width: 100%;
    }

    button {
      display: flex;
      margin-left: 30%;
      width: 70%;
    }
  }

  .box4 {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 800px;
    padding: 1rem;
  }

  .box4:nth-child(10) {
    margin-inline-start: auto;
  }

  .panel {
    padding: 1rem;
    margin: 1rem;
  }
}