:host {
    .example-button-row {
        display: flex;
        max-width: 77%;
        justify-content: space-between;

    }

    .example-button-row1 {

        width: 49%;
    }

    .example-button-row2 {

        width: 49%;
    }
}